.btn-default {
  border: none;
  border-radius: .5rem;

  background-color: var(--content-brand);
  font: var(--label-large);
  text-transform: uppercase;

  /* margin-top: 2rem; */
  padding: 0.75rem 1.5rem ;

  transition: 0.3s ease-in-out;
  cursor: pointer;


  &:hover {
    background-color: var(--background-highlights);
    
  }
}

.btn-cancel {
  border: none;
  border-radius: .5rem;

  font: var(--label-large);
  color: var(--cancel);
  text-transform: uppercase;

  padding: 0.75rem 1.5rem ;

  background-color: var(--background-tertiary);
  border: 2px solid var(--cancel);

  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--cancel);
  color: var(--content-primary);

  }
}

.btn-schedule {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

