.button {
  border: none;
  border-radius: .5rem;

  box-shadow: 0px 0px 25px rgba(146, 130, 250, 0.3);

  background-color: var(--content-brand);
  font: var(--label-large);
  text-transform: uppercase;

  /* margin-top: 2rem; */
  padding: 0.75rem 1.5rem ;
}
