form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & header{
        position: relative;
        margin-bottom: 1.5rem;
    }
}

.form-modal{
    width: auto;
    height: auto;
    background-color: var(--background-tertiary);

    padding: 2.34rem 2.5rem;
    border-radius: 12px;
    
}

.modal {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-backdrop {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);   

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
}

.date-hour {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    & input:nth-child(2),
    select:nth-child(2) {
    height: 3rem;
    }
}

.close {
    display: none;
}

.hour-unavailable {
  opacity: 0.5;
  color: rgb(163, 43, 43);
}

.hour-available {
  color: rgb(36, 131, 36);
}

.hour-selected {
    color: white;
}

select {
    cursor: pointer;
}

select option {
    background-color: var(--background-tertiary);
}

@media (max-width: 1000px) {
    .form-modal{
        width: 350px;
        padding: 1rem;

        margin-top: 5rem;
    }
}


