* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;

    --background-primary: #151515;
    --background-secondary: #1E1E1E;
    --background-tertiary: #23242C;
    --background-brand: #9282FA;
    --background-highlights: #BDB4FA;

    --border-primary: #3E3C41;
    --border-secondary: #86818C;
    --border-brand: #9282FA;
    --border-divisor: #353339;
    --cancel: #e63946;

    /* Fontes */
    --font: "Inter Tight", sans-serif;
    --font2: "Inter", sans-serif;

    /* Paragrafos */
    --p-med: 500 0.875rem/1.5 var(--font2);
    --p-small: 500 0.75rem/1 var(--font2);

    /* Label */
    --label-large: 700 1rem/1.5 var(--font2);
    --label-med: 700 0.875rem/1.5 var(--font2);
    --label-small: 700 0.75rem/1 var(--font2);

    --text: 500 1rem/1 var(--font2);

    /* Link */
    --link: 500 0.75rem/1 var(--font2);
}

body {
    background-color: var(--background-primary);
    width: 100%;
    /* height: 100vh; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h1 {
  font: 700 1.5rem/2 var(--font);
  color: var(--content-primary);
}

.p-med{
    font: var(--p-med);
    color: var(--content-secondary);
}

.p-small{
    font: var(--p-small);
    color: var(--content-secondary);
}

.label-large-p{
    font: var(--label-large);
    color: var(--content-primary);
}

.label-large-s{
    font: var(--label-large);
    color: var(--content-secondary);
}

.label-med{
    font: var(--label-med);
    color: var(--content-primary);
}

.label-small{
    font: var(--label-small);
    color: var(--content-primary);
}

