
.schedule {
  max-width: 871px;
  height: 100%;
  margin-inline: auto;

  display: flex; 

  padding: 5rem;
  gap: 2rem;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Agendar - Titulo e subtitulo */
.schedule-title {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}


/* Periodos */

.schedule-period {
  width: 100%;
  background-color: var(--background-tertiary);
  border-radius: 0.5rem;
}

/* Periodos - Icone, periodo e horario */
.schedule-period header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  border-bottom: 1px solid var(--border-divisor);
  padding: 0.75rem 1.25rem;

  & label:nth-child(1){
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
  }
}

/* Periodos - agendadamento */

.schedule-period ul {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.schedule-period  li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  border-bottom: 0.6px solid var(--border-divisor);

  & p:nth-child(3),
  p:nth-child(4){
    margin-bottom: 8px;
  }

  & :nth-child(2){
    display: flex;
    gap: 4px;
  }
}



@media (max-width: 1000px) {
  .schedule{
    max-width: 390px;
    padding: 1.5rem;
  }

  .schedule-title {
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
  }

  .schedule-period li {
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;

  }

  .schedule-period li p:nth-child(4) {
    margin-left: auto
  }

  .date-hour {
    display: flex;
    flex-direction: column;
  }

}
